@font-face {
    font-family: 'montserrat';
    src: url(../assets/Montserrat-VariableFont_wght.ttf) format('truetype');
}

*{
    margin :0;
    padding : 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #0C0C0C;
}

nav{
    display: flex;
    position: fixed;
    background-color: #0F0F0F;
    color:rgb(218, 218, 218);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease;
}

.navcontacts{
    border: solid greenyellow 2px;
    color: greenyellow;
    border-radius: 5px;
    padding: 6px 14px;
}

.logo{
    display: flex;
    margin-left: 2rem;
}

.sm{
    color: greenyellow;
}

ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    font-size: 16px;
    margin-right: 2rem;
}

ul a{
    text-decoration: none;
    color:rgb(218, 218, 218);

}

section{
    display: flex;
    justify-content: center;
}

.heading{
    margin :1rem;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

/* homepage=========================================================== */

.home{
    padding: 100px 120px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting{
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    color: #ffffff;
    gap: 0.5rem;
}

.nama{
    color: greenyellow;
}

.jobdesk{
    margin-top: 1rem;
    font-size: 18px;
    color: #999999;
}

.herodesc{
    margin-top: 1.5rem;
    font-size: 16px;
    color: #999999;
    max-width: 500px;
    line-height: 1.5;
}

.cta{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.cv{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100px;
}

.more{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: solid #ffffff 2px;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100px;
}

/* about=========================================================== */

.aboutMe{
    flex-direction: column;
    gap: 2rem;
    padding: 80px 120px 100px;
    color: #ffffff;
}

.kontenAbout{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.aboutdesc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    text-align: justify;
}

/* skills============================================================= */
.skills{
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 151, 32);
    padding: 80px 120px 100px;
}

.skillCards{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
}

.card{
    background-color: #131313E5;
    width: 260px;
    height: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
}


/* project============================================================= */
.projects{
    flex-direction: column;
    padding: 80px 120px 100px;
    background-color: #1a1a1a;
    color: #ffffff;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.project-card{
    background-color:#131313;
    border-radius: 12px;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-top: 1rem;
}

.view{
    text-decoration: none;
    color: #ffffff;
    background-color: greenyellow;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

/* contact=================================== */

.contacts{
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #2b2b2b;
    padding: 80px 120px;
}

.contacts-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.contact-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #ffffff;
    margin-top: 1rem;
}

.contact-card a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.copyright{
    text-align: center;
    margin-top: 2rem;
    color: #999999;
    font-size: 14px;
}