*{
    margin :0;
    padding : 0;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    position: fixed;
    background-color: #2b2b2b;
    color:rgb(218, 218, 218);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease;
}

.navcontacts{
    border: solid rgb(218, 218, 218) 2px;
    border-radius: 5px;
    padding: 6px 14px;
}

.logo{
    display: flex;
    margin-left: 2rem;
}

.sm{
    color: greenyellow;
}

ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    font-size: 16px;
    margin-right: 2rem;
}

ul a{
    text-decoration: none;
    color:rgb(218, 218, 218);

}

section{
    /* width: 100vh; */
    height: 100vh;
}

/* homepage=========================================================== */

.home{
    padding: 180px 120px 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    gap: 0.5rem;
}

.nama{
    color: greenyellow;
}

.cta{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.cv{
    text-decoration: none;
    color: #2b2b2b;
    border: solid #2b2b2b 2px;
    border-radius: 5px;
    padding: 6px 14px;
}

.more{
    text-decoration: none;
    color: #2b2b2b;
}

/* about=========================================================== */

.aboutMe{
    background-color: #f0f0f0;

}
.skills{
    background-color: #f0f0f0;

}
.projects{
    background-color: #f0f0f0;

}
.contacts{
    height: 300px;
    background-color: #2b2b2b;
}
